name: Cleanup Preview

permissions:
  contents: read
  id-token: write

on:
  pull_request:
    types: [closed]

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-west-2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Pulumi CLI
        uses: pulumi/actions@v4
        with:
          pulumi-version: 'latest'
          command: ''

      - name: Install Pulumi SDK Dependencies
        working-directory: ./deploy/pulumi
        run: npm ci

      - name: Destroy Stack
        working-directory: ./deploy/pulumi
        env:
          PULUMI_CONFIG_PASSPHRASE: ''
        run: |
          # Login to S3 Backend
          pulumi login s3://gp-api-pulumi-state
          
          # Should match the naming convention in reusable-deploy.yml
          STACK_NAME="gp-api-pr-${{ github.event.number }}"
          echo "Destroying stack: $STACK_NAME"
          
          # Check if stack exists
          if pulumi stack select $STACK_NAME; then
            echo "Stack found. Destroying..."
            pulumi destroy --yes --skip-preview
            pulumi stack rm --yes
          else
            echo "Stack not found. Skipping."
          fi

