name: Deploy (Revamp)

on:
  push:
    branches:
      - develop
      - master
  # Enabled PR Triggers for Preview Environments
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  deploy:
    name: Deploy
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      ecr_repository: 333022194791.dkr.ecr.us-west-2.amazonaws.com/gp-api
      service_name: gp-api
      pulumi_stack_prefix: gp-api
      preview_domain: preview.goodparty.org

    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      PULUMI_CONFIG_PASSPHRASE: ${{ secrets.PULUMI_CONFIG_PASSPHRASE }}
      VPC_ID: ${{ secrets.VPC_ID }}
      PUBLIC_SUBNETS: ${{ secrets.PUBLIC_SUBNETS }}
      PRIVATE_SUBNETS: ${{ secrets.PRIVATE_SUBNETS }}
      SECURITY_GROUP_ID: ${{ secrets.SECURITY_GROUP_ID }}
      CERTIFICATE_ARN: ${{ secrets.CERTIFICATE_ARN }}
      SECRET_ARN: ${{ secrets.SECRET_ARN }}
      PREVIEW_CERTIFICATE_ARN: ${{ secrets.PREVIEW_CERTIFICATE_ARN }}
      PREVIEW_HOSTED_ZONE_ID: ${{ secrets.PREVIEW_HOSTED_ZONE_ID }}
      CANDIDATE_EMAIL: ${{ secrets.CANDIDATE_EMAIL }}
      CANDIDATE_PASSWORD: ${{ secrets.CANDIDATE_PASSWORD }}
      ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
      ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
      DEV_CANDIDATE_ID: ${{ secrets.DEV_CANDIDATE_ID }}
      DEV_CAMPAIGN_SLUG: ${{ secrets.DEV_CAMPAIGN_SLUG }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
